<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
        <div class="row">
            <div class="col-sm">
                <jhi-gamearea></jhi-gamearea>
            </div>
            <div class="col-sm">
                <jhi-gamedetails></jhi-gamedetails>
            </div>
        </div>
    </div>
</div>
<jhi-footerdetails></jhi-footerdetails>
