.cell {
    height: 55px; 
    width: 55px; 
    border-style: solid; 
    border-width: medium; 
    float: left; 
    margin: 0 4px 4px 0;
    border-color: black;
}

.x_cell {
    height: 50px; 
    width: 50px; 
    margin: auto;
    border-radius: 100%;
    background-color: crimson
}

.o_cell {
    height: 50px; 
    width: 50px;
    border-radius: 100%;
    background-color: dodgerblue
}