<div class="container">
  <h2 class="mat-display-1" style="text-align: center; color: red;"> Tic-Tac-Toe </h2>

  <form class="example-container" style="text-align: center">
    <mat-form-field >
      <mat-select placeholder="Niveau désiré">
        <mat-option value="Facile">Facile</mat-option>
        <mat-option value="Moyen">Moyen</mat-option>
        <mat-option value="Difficile">Difficile</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <h2 class="mat-h2" style="text-align: center"> Score : </h2>
  <tr style="font-weight: bold;">
    <td> Humain </td>
    <td> Egalité </td>
    <td> IA  </td>
  </tr>
  <tr style="color: blue; font-weight: bolder; font-size: 2em;">
    <td> 5</td>
    <td> 3</td>
    <td> 4</td>
  </tr>

</div>

