<div class="container">
    <h2 style="text-align: center;"> {{game}} </h2>

    <form style="text-align: center">
      <label for="difficulty">Desired difficulty:</label>
      <select class="form-control" id="difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </form>

      <h2 style="text-align: center"> Score : </h2>
      <tr style="font-weight: bold;">
        <td> You </td>
        <td> Draw </td>
        <td> A.I  </td>
      </tr>
      <tr style="font-weight: bolder; font-size: 2em;">
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      
      <div>
        <a href="#" class="btn btn-primary">Play again</a>
      </div>
      
</div>