<!--<div class="page-footer">-->
  <div class="row">
    <div class="game">
      <h5 class="text-uppercase">Tic Tac Toe game</h5>
      <!--<h2 class="mat-h2">Tic Tac Toe game</h2>-->
      <div class="card mb-2">
        <img class="card-img-top" src="../../../content/images/morpion2.png"
            alt="Card image cap">
        <div class="card-body">
          <p>Le tic-tac-toe, aussi appelé « morpion », est un jeu de réflexion se pratiquant à deux
            joueurs au tour par tour dont le but est de créer le premier un alignement. Le jeu se joue généralement
            avec papier et crayon.
          </p>
          <a class="btn btn-primary" (click)="goToTictactoe()">Play now</a>
          <!--<button mat-raised-button color="primary"  >Play Now</button>-->
        </div>
      </div>
    </div>
    <!--<mat-divider [vertical]="true"></mat-divider>-->
    <div class="game">
      <h5 class="text-uppercase">Domineering game</h5>
      <!--<h2 class="mat-h2">Domineering game</h2>-->
      <div class="card mb-2">
        <img class="card-img-top" src="../../../content/images/Domineering.gif"
            alt="Card image cap">
        <div class="card-body">
          <p>
            Deux joueurs ont une collection de dominos qu'ils placent sur la grille à tour de rôle, couvrant des carrés.
            Un joueur, Gauche, joue des tuiles verticalement, tandis que l'autre, Droite, joue horizontalement.
          </p>
          <a class="btn btn-primary" (click)="goToDomineering()">Play now</a>
          <!--<button mat-raised-button color="primary" >Play Now</button>-->
        </div>
      </div>
    </div>
    <!--<mat-divider [vertical]="true"></mat-divider>-->
    <div class="game">
      <h5 class="text-uppercase">Connect 4 game</h5>
      <!-- <h2 class="mat-h2"> Connect 4 Game</h2>-->
      <div class="card mb-2">
        <img class="card-img-top" src="../../../content/images/connect4.png"
            alt="Card image cap">
        <div class="card-body">
          <p>
            Le but du jeu est d'aligner une suite de 4 pions de même couleur sur une grille comptant 6 rangées et 7
            colonnes. Chaque joueur dispose de 21 pions d'une couleur.
          </p>
          <a class="btn btn-primary" (click)="goToConnect4()">Play now</a>
          <!--<button mat-raised-button color="primary" >Play Now</button>-->
        </div>
      </div>
    </div>
  </div>
<!--</div>-->